<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Codewars</h1>
    <div>오답입니다.</div>
    <% if (type === "compileError") { %>
        <p>Compile error</p>
        <div>Error case : <%= errorCase %></div>
    <% } else { %>
      <p>Test case error</p>
      <% failedTestCases.forEach(function(testCase) { %>
        <div>
          <div>Test case: <%= testCase["testCase"] %></div>
          <div>제출한 값: <%= testCase["answer"] %></div>
          <div>정답: <%= testCase["solution"] %></div>
        </div>
      <% }) %>
    <% } %>
    <a href="/">목록 페이지로 이동</a>
  </body>
</html>
