<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Codewars</h1>
    <h2>코딩 전쟁이 일어난다. 모든 대원들, 전투 준비!</h2>
    <form action="/logout" method="GET">
      <button type="submit">Logout</button>
    </form>
    <ul class="problems">
      <% problems.forEach(function(problem) { %>
        <div>
          <a href="/problems/<%= problem._id %>">
            <h4><%= problem.title %></h4>
          </a>
          <span>정답자 수: <%= problem.completed_users %></span>
          <span>문제 레벨: <%= problem.difficulty_level %></span>
        </div>
      <% }) %>
    </ul>
  </body>
</html>
