<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Codewars</h1>
    <h2>Sign in</h2>
    <form action="/login" method="POST">
      <label>
        <input type="email" name="email" placeholder="Email" required />
        <input type="password" name="password" placeholder="Password" required />
      </label>
      <button type="submit">Submit</button>
    </form>
    <ul>
      <li>
        <a href="/signup">Sign up</a>
      </li>
    </ul>
  </body>
</html>
