<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h2><%= problem.title %></h2>
    <div>정답자 수: <%= problem.completed_users %></div>
    <div>문제 레벨: <%= problem.difficulty_level %></div>
    <div>문제 설명: <%= problem.description %></div>
    </ul>
  </body>
</html>
