<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Codewars</h1>
    <h2>Sign up</h2>
    <form action="/signup" method="POST">
      <label>
        <input type="name" name="name" placeholder="Name" required />
        <input type="email" name="email" placeholder="Email" required />
        <input type="password" name="password" placeholder="password" required />
      </label>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
