

<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Codewars</h1>
    <div>정답입니다.</div>
    <a href="/">목록 페이지로 이동</a>
  </body>
</html>
